<h2>Reportes Finales</h2>


<ul class="operativos">
  <div>

  </div>


  <div>
  <table>
    <tr>
      <th><span>ID </span></th>
      <th><span>Estado </span></th>
      <th><span>Municipio </span></th>
      <th><span>Evento </span></th>
      <th><span>PDF </span></th>
    </tr>
    <tr>
    
      <td><div>56</div></td>
      <td><div>Hidalgo</div></td>
      <td><div>Tolcayuca</div></td>
      <td><div>Suministro de Agua</div></td>
      <td><div><button (click)="openDoc('../assets/Informe_Final_Operativo_Tolcayuca_2020.pdf','Autorizacion')">Ver</button>
        <button (click)="downloadPdf('../assets/Informe_Final_Operativo_Tolcayuca_2020.pdf','Autorizacion')">Descargar</button></div></td>
    
    </tr>
    </table>
  </div>

</ul>