<div><img src="../assets/logo_cna.png" alt="HTML5 Icon" style="height:66px;"></div> <h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Inicio</a>
    <a [routerLink]="['/responsables']" routerLinkActive="router-link-active">Responsables</a>
    <a [routerLink]="['/operativos']" routerLinkActive="router-link-active">Operativos</a>
    <a [routerLink]="['/graficas']" routerLinkActive="router-link-active">Graficas</a>
    <a [routerLink]="['/reportdiar']" routerLinkActive="router-link-active">Reportes globales</a>
    <a [routerLink]="['/documentacion']" routerLinkActive="router-link-active">Documentacion</a>
    <a [routerLink]="['/reposfinales']" routerLinkActive="router-link-active">Informes Finales</a>

</nav>
<router-outlet></router-outlet>
<footer>
    
</footer>
<app-messages></app-messages>
