<div *ngIf="operativo">

    <h2>Detalles del operativo en {{operativo.name | uppercase}}</h2>
    <table>
    <tr><div><span>Evento: </span>{{operativo.evento}}</div></tr>
    <div><span>Estado: </span>{{operativo.estado}}</div>
    <div><span>Responsable: </span>{{operativo.organismo}}</div>
    <div><span>id: </span>{{operativo.id}}</div>
    </table>
    <div>
      <label>Operativo:
        <input [(ngModel)]="operativo.name" placeholder="name"/>
      </label>
    </div>
    </div>
<div>
  <button (click)="save()">Guardar</button>
    <button (click)="goBack()">Regresar...</button>
</div>