<div *ngIf="operativo">

    <h2>Detalles del operativo en {{operativo.name | uppercase}}, {{operativo.estado}}.</h2>
    <table>
    <tr>
      <th><span>ID </span></th>
      <th><span>Estado </span></th>
      <th><span>Municipio </span></th>
      <th><span>Evento </span></th>
      <th><span>Avance </span></th>
      <th><span>Beneficiados </span></th>
      <th><span>Equipo(s) </span></th>
      <th><span>Personal </span></th>
    </tr>
    <tr>
      <td><div>{{operativo.id}}</div></td>
      <td><div>{{operativo.estado}}</div></td>
      <td><div>{{operativo.name}}</div></td>
      <td><div>{{operativo.evento}}</div></td>
      <td><div>{{operativo.advance}}</div></td>
      <td><div>{{operativo.benefit}}</div></td>
      <td><div>{{operativo.equip}}</div></td>
      <td><div>{{operativo.personal}}</div></td>
    </tr>
    </table>
    <ng-container *ngIf="show">
    <div>
      <label>Avance:
        <input [(ngModel)]="operativo.advance" placeholder="avance del op."/>
      </label>
    </div>
    <div>
      <label>Beneficiados:
        <input [(ngModel)]="operativo.benefit" placeholder="Beneficiados del op. por habitante"/>
      </label>
    </div>
    <div>
      <label>Municipio:
        <input [(ngModel)]="operativo.name" placeholder="Operativo"/>
      </label>
    </div>
    <div>
      <label>Estado:
        <input [(ngModel)]="operativo.estado" placeholder="estado"/>
      </label>
    </div>
    <div>
      <label>Equipo:
        <input [(ngModel)]="operativo.equip" placeholder="equipo"/>
      </label>
    </div>
    <div>
      <label>Personal:
        <input [(ngModel)]="operativo.personal" placeholder="Personal"/>
      </label>
    </div>
    </ng-container>
  </div>

<div>
  <ng-container *ngIf="show">
    <button (click)="save()">Guardar</button>
  </ng-container>
    <button (click)="toggle()">Editar Operativo</button>
    <button (click)="goBack()">Regresar...</button>
</div>